{
  "swagger": "2.0",
  "info": {
    "title": "ClickUp Integration",
    "description": "",
    "version": "1.0"
  },
  "host": "api.clickup.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/task/{task_id}/attachment": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "date": {
                  "type": "integer",
                  "format": "int32",
                  "description": "date"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "extension": {
                  "type": "string",
                  "description": "extension"
                },
                "thumbnail_small": {
                  "type": "string",
                  "description": "thumbnail_small"
                },
                "thumbnail_large": {
                  "type": "string",
                  "description": "thumbnail_large"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                }
              }
            }
          }
        },
        "summary": "Create Task Attachment",
        "operationId": "Create_Task_Attachment",
        "description": "Upload a file to a task as an attachment.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "date": {
                  "type": "integer",
                  "format": "int32",
                  "description": "date"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "extension": {
                  "type": "string",
                  "description": "extension"
                },
                "thumbnail_small": {
                  "type": "string",
                  "description": "thumbnail_small"
                },
                "thumbnail_large": {
                  "type": "string",
                  "description": "thumbnail_large"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v2/task/{task_id}/comment": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "comments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "comment": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string",
                              "description": "text"
                            }
                          }
                        },
                        "description": "comment"
                      },
                      "comment_text": {
                        "type": "string",
                        "description": "comment_text"
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "username": {
                            "type": "string",
                            "description": "username"
                          },
                          "initials": {
                            "type": "string",
                            "description": "initials"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "color": {
                            "type": "string",
                            "description": "color"
                          },
                          "profilePicture": {
                            "type": "string",
                            "description": "profilePicture"
                          }
                        },
                        "description": "user"
                      },
                      "resolved": {
                        "type": "boolean",
                        "description": "resolved"
                      },
                      "assignee": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "username": {
                            "type": "string",
                            "description": "username"
                          },
                          "initials": {
                            "type": "string",
                            "description": "initials"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "color": {
                            "type": "string",
                            "description": "color"
                          },
                          "profilePicture": {
                            "type": "string",
                            "description": "profilePicture"
                          }
                        },
                        "description": "assignee"
                      },
                      "assigned_by": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "username": {
                            "type": "string",
                            "description": "username"
                          },
                          "initials": {
                            "type": "string",
                            "description": "initials"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "color": {
                            "type": "string",
                            "description": "color"
                          },
                          "profilePicture": {
                            "type": "string",
                            "description": "profilePicture"
                          }
                        },
                        "description": "assigned_by"
                      },
                      "reactions": {
                        "type": "array",
                        "items": {},
                        "description": "reactions"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      }
                    }
                  },
                  "description": "comments"
                }
              }
            }
          }
        },
        "summary": "Get Task Comments",
        "operationId": "Get_Task_Comments",
        "description": "View task comments.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "hist_id": {
                  "type": "string",
                  "description": "hist_id"
                },
                "date": {
                  "type": "integer",
                  "format": "int32",
                  "description": "date"
                }
              }
            }
          }
        },
        "summary": "Create Task Comment",
        "operationId": "Create_Task_Comment",
        "description": "Add a new comment to a task.",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "hist_id": {
                  "type": "string",
                  "description": "hist_id"
                },
                "date": {
                  "type": "integer",
                  "format": "int32",
                  "description": "date"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v2/space/{space_id}/folder": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "orderindex": {
                    "type": "integer",
                    "format": "int32",
                    "description": "orderindex"
                  },
                  "override_statuses": {
                    "type": "boolean",
                    "description": "override_statuses"
                  },
                  "hidden": {
                    "type": "boolean",
                    "description": "hidden"
                  },
                  "space": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "access": {
                        "type": "boolean",
                        "description": "access"
                      }
                    },
                    "description": "space"
                  },
                  "task_count": {
                    "type": "string",
                    "description": "task_count"
                  },
                  "lists": {
                    "type": "array",
                    "items": {},
                    "description": "lists"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Folders",
        "operationId": "Get_Folders",
        "description": "View the Folders in a Space.",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "override_statuses": {
                  "type": "boolean",
                  "description": "override_statuses"
                },
                "hidden": {
                  "type": "boolean",
                  "description": "hidden"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                }
              }
            }
          }
        },
        "summary": "Create Folder",
        "operationId": "Create_Folder",
        "description": "Add a new Folder to a Space.",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "override_statuses": {
                  "type": "boolean",
                  "description": "override_statuses"
                },
                "hidden": {
                  "type": "boolean",
                  "description": "hidden"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                },
                "statuses": {
                  "type": "array",
                  "items": {},
                  "description": "statuses"
                },
                "lists": {
                  "type": "array",
                  "items": {},
                  "description": "lists"
                },
                "permission_level": {
                  "type": "string",
                  "description": "permission_level"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v2/folder/{folder_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "override_statuses": {
                  "type": "boolean",
                  "description": "override_statuses"
                },
                "hidden": {
                  "type": "boolean",
                  "description": "hidden"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                },
                "lists": {
                  "type": "array",
                  "items": {},
                  "description": "lists"
                }
              }
            }
          }
        },
        "summary": "Get Folder",
        "operationId": "Get_Folder",
        "description": "View the Lists within a Folder.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Delete Folder",
        "operationId": "Delete_Folder",
        "description": "Delete a Folder from your Workspace.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "override_statuses": {
                  "type": "boolean",
                  "description": "override_statuses"
                },
                "hidden": {
                  "type": "boolean",
                  "description": "hidden"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                }
              }
            }
          }
        },
        "summary": "Update Folder",
        "operationId": "Update_Folder",
        "description": "Rename a Folder.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "override_statuses": {
                  "type": "boolean",
                  "description": "override_statuses"
                },
                "hidden": {
                  "type": "boolean",
                  "description": "hidden"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "lists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "priority": {
                        "type": "string",
                        "description": "priority"
                      },
                      "assignee": {
                        "type": "string",
                        "description": "assignee"
                      },
                      "task_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "task_count"
                      },
                      "due_date": {
                        "type": "string",
                        "description": "due_date"
                      },
                      "start_date": {
                        "type": "string",
                        "description": "start_date"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "archived"
                      },
                      "override_statuses": {
                        "type": "boolean",
                        "description": "override_statuses"
                      },
                      "statuses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "status": {
                              "type": "string",
                              "description": "status"
                            },
                            "orderindex": {
                              "type": "integer",
                              "format": "int32",
                              "description": "orderindex"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          }
                        },
                        "description": "statuses"
                      },
                      "permission_level": {
                        "type": "string",
                        "description": "permission_level"
                      }
                    }
                  },
                  "description": "lists"
                },
                "permission_level": {
                  "type": "string",
                  "description": "permission_level"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v2/folder/{folder_id}/list": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "lists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "content": {
                        "type": "string",
                        "description": "content"
                      },
                      "status": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "color": {
                            "type": "string",
                            "description": "color"
                          },
                          "hide_label": {
                            "type": "boolean",
                            "description": "hide_label"
                          }
                        },
                        "description": "status"
                      },
                      "priority": {
                        "type": "object",
                        "properties": {
                          "priority": {
                            "type": "string",
                            "description": "priority"
                          },
                          "color": {
                            "type": "string",
                            "description": "color"
                          }
                        },
                        "description": "priority"
                      },
                      "assignee": {
                        "type": "string",
                        "description": "assignee"
                      },
                      "task_count": {
                        "type": "string",
                        "description": "task_count"
                      },
                      "due_date": {
                        "type": "string",
                        "description": "due_date"
                      },
                      "start_date": {
                        "type": "string",
                        "description": "start_date"
                      },
                      "folder": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "hidden"
                          },
                          "access": {
                            "type": "boolean",
                            "description": "access"
                          }
                        },
                        "description": "folder"
                      },
                      "space": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "access": {
                            "type": "boolean",
                            "description": "access"
                          }
                        },
                        "description": "space"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "archived"
                      },
                      "override_statuses": {
                        "type": "boolean",
                        "description": "override_statuses"
                      },
                      "permission_level": {
                        "type": "string",
                        "description": "permission_level"
                      }
                    }
                  },
                  "description": "lists"
                }
              }
            }
          }
        },
        "summary": "Get Lists",
        "operationId": "Get_Lists",
        "description": "View the Lists within a Folder.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    },
                    "hide_label": {
                      "type": "boolean",
                      "description": "hide_label"
                    }
                  },
                  "description": "status"
                },
                "priority": {
                  "type": "object",
                  "properties": {
                    "priority": {
                      "type": "string",
                      "description": "priority"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    }
                  },
                  "description": "priority"
                },
                "assignee": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    },
                    "username": {
                      "type": "string",
                      "description": "username"
                    },
                    "initials": {
                      "type": "string",
                      "description": "initials"
                    },
                    "profilePicture": {
                      "type": "string",
                      "description": "profilePicture"
                    }
                  },
                  "description": "assignee"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                },
                "due_date": {
                  "type": "string",
                  "description": "due_date"
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time"
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date"
                },
                "start_date_time": {
                  "type": "string",
                  "description": "start_date_time"
                },
                "folder": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "hidden": {
                      "type": "boolean",
                      "description": "hidden"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "folder"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "inbound_address": {
                  "type": "string",
                  "description": "inbound_address"
                }
              }
            }
          }
        },
        "summary": "Create List",
        "operationId": "Create_List",
        "description": "Add a new List to a Folder.",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "due_date": {
                  "type": "integer",
                  "format": "int32",
                  "description": "due_date"
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time"
                },
                "priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "priority"
                },
                "assignee": {
                  "type": "integer",
                  "format": "int32",
                  "description": "assignee"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v2/space/{space_id}/list": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "lists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "content": {
                        "type": "string",
                        "description": "content"
                      },
                      "status": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "color": {
                            "type": "string",
                            "description": "color"
                          },
                          "hide_label": {
                            "type": "boolean",
                            "description": "hide_label"
                          }
                        },
                        "description": "status"
                      },
                      "priority": {
                        "type": "object",
                        "properties": {
                          "priority": {
                            "type": "string",
                            "description": "priority"
                          },
                          "color": {
                            "type": "string",
                            "description": "color"
                          }
                        },
                        "description": "priority"
                      },
                      "assignee": {
                        "type": "string",
                        "description": "assignee"
                      },
                      "task_count": {
                        "type": "string",
                        "description": "task_count"
                      },
                      "due_date": {
                        "type": "string",
                        "description": "due_date"
                      },
                      "start_date": {
                        "type": "string",
                        "description": "start_date"
                      },
                      "folder": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "hidden": {
                            "type": "boolean",
                            "description": "hidden"
                          },
                          "access": {
                            "type": "boolean",
                            "description": "access"
                          }
                        },
                        "description": "folder"
                      },
                      "space": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "access": {
                            "type": "boolean",
                            "description": "access"
                          }
                        },
                        "description": "space"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "archived"
                      },
                      "override_statuses": {
                        "type": "boolean",
                        "description": "override_statuses"
                      },
                      "permission_level": {
                        "type": "string",
                        "description": "permission_level"
                      }
                    }
                  },
                  "description": "lists"
                }
              }
            }
          }
        },
        "summary": "Get Folderless Lists",
        "operationId": "Get_Folderless_Lists",
        "description": "View the Lists in a Space that aren't located in a Folder.",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    },
                    "hide_label": {
                      "type": "boolean",
                      "description": "hide_label"
                    }
                  },
                  "description": "status"
                },
                "priority": {
                  "type": "object",
                  "properties": {
                    "priority": {
                      "type": "string",
                      "description": "priority"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    }
                  },
                  "description": "priority"
                },
                "assignee": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    },
                    "username": {
                      "type": "string",
                      "description": "username"
                    },
                    "initials": {
                      "type": "string",
                      "description": "initials"
                    },
                    "profilePicture": {
                      "type": "string",
                      "description": "profilePicture"
                    }
                  },
                  "description": "assignee"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                },
                "due_date": {
                  "type": "string",
                  "description": "due_date"
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time"
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date"
                },
                "start_date_time": {
                  "type": "string",
                  "description": "start_date_time"
                },
                "folder": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "hidden": {
                      "type": "boolean",
                      "description": "hidden"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "folder"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "inbound_address": {
                  "type": "string",
                  "description": "inbound_address"
                }
              }
            }
          }
        },
        "summary": "Create Folderless List",
        "operationId": "Create_Folderless_List",
        "description": "Add a new List in a Space.",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "due_date": {
                  "type": "integer",
                  "format": "int32",
                  "description": "due_date"
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time"
                },
                "priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "priority"
                },
                "assignee": {
                  "type": "integer",
                  "format": "int32",
                  "description": "assignee"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v2/list/{list_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    },
                    "hide_label": {
                      "type": "boolean",
                      "description": "hide_label"
                    }
                  },
                  "description": "status"
                },
                "priority": {
                  "type": "object",
                  "properties": {
                    "priority": {
                      "type": "string",
                      "description": "priority"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    }
                  },
                  "description": "priority"
                },
                "assignee": {
                  "type": "string",
                  "description": "assignee"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                },
                "due_date": {
                  "type": "string",
                  "description": "due_date"
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time"
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date"
                },
                "start_date_time": {
                  "type": "string",
                  "description": "start_date_time"
                },
                "folder": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "hidden": {
                      "type": "boolean",
                      "description": "hidden"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "folder"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "inbound_address": {
                  "type": "string",
                  "description": "inbound_address"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                },
                "override_statuses": {
                  "type": "boolean",
                  "description": "override_statuses"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "permission_level": {
                  "type": "string",
                  "description": "permission_level"
                }
              }
            }
          }
        },
        "summary": "Get List",
        "operationId": "Get_List",
        "description": "View information about a List.",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Delete List",
        "operationId": "Delete_List",
        "description": "Delete a List from your Workspace.",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    },
                    "hide_label": {
                      "type": "boolean",
                      "description": "hide_label"
                    }
                  },
                  "description": "status"
                },
                "priority": {
                  "type": "object",
                  "properties": {
                    "priority": {
                      "type": "string",
                      "description": "priority"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    }
                  },
                  "description": "priority"
                },
                "assignee": {
                  "type": "string",
                  "description": "assignee"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                },
                "due_date": {
                  "type": "string",
                  "description": "due_date"
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time"
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date"
                },
                "start_date_time": {
                  "type": "string",
                  "description": "start_date_time"
                },
                "folder": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "hidden": {
                      "type": "boolean",
                      "description": "hidden"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "folder"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "inbound_address": {
                  "type": "string",
                  "description": "inbound_address"
                }
              }
            }
          }
        },
        "summary": "Update List",
        "description": "Rename a List, update the List Info description, set a due date/time, set the List's priority, set an assignee, set or remove the List color.",
        "operationId": "Update_List",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "due_date": {
                  "type": "integer",
                  "format": "int32",
                  "description": "due_date"
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time"
                },
                "priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "priority"
                },
                "assignee": {
                  "type": "string",
                  "description": "assignee"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "unset_status": {
                  "type": "boolean",
                  "description": "unset_status"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v2/list/{list_id}/task/{task_id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Remove Task From List",
        "operationId": "Remove_Task_From_List",
        "description": "Remove a task from an additional List. You can't remove a task from its home List.",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Add Task To List",
        "operationId": "Add_Task_To_List",
        "description": "Add a task to an additional List.",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/api/v2/team/{team_id}/space": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "spaces": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "private": {
                        "type": "boolean",
                        "description": "private"
                      },
                      "statuses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "status"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "orderindex": {
                              "type": "integer",
                              "format": "int32",
                              "description": "orderindex"
                            },
                            "color": {
                              "type": "string",
                              "description": "color"
                            }
                          }
                        },
                        "description": "statuses"
                      },
                      "multiple_assignees": {
                        "type": "boolean",
                        "description": "multiple_assignees"
                      },
                      "features": {
                        "type": "object",
                        "properties": {
                          "due_dates": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              },
                              "start_date": {
                                "type": "boolean",
                                "description": "start_date"
                              },
                              "remap_due_dates": {
                                "type": "boolean",
                                "description": "remap_due_dates"
                              },
                              "remap_closed_due_date": {
                                "type": "boolean",
                                "description": "remap_closed_due_date"
                              }
                            },
                            "description": "due_dates"
                          },
                          "time_tracking": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              }
                            },
                            "description": "time_tracking"
                          },
                          "tags": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              }
                            },
                            "description": "tags"
                          },
                          "time_estimates": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              }
                            },
                            "description": "time_estimates"
                          },
                          "checklists": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              }
                            },
                            "description": "checklists"
                          },
                          "custom_fields": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              }
                            },
                            "description": "custom_fields"
                          },
                          "remap_dependencies": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              }
                            },
                            "description": "remap_dependencies"
                          },
                          "dependency_warning": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              }
                            },
                            "description": "dependency_warning"
                          },
                          "portfolios": {
                            "type": "object",
                            "properties": {
                              "enabled": {
                                "type": "boolean",
                                "description": "enabled"
                              }
                            },
                            "description": "portfolios"
                          }
                        },
                        "description": "features"
                      }
                    }
                  },
                  "description": "spaces"
                }
              }
            }
          }
        },
        "summary": "Get Spaces",
        "operationId": "Get_Spaces",
        "description": "View the Spaces avialable in a Workspace.",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "private": {
                  "type": "boolean",
                  "description": "private"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "multiple_assignees": {
                  "type": "boolean",
                  "description": "multiple_assignees"
                },
                "features": {
                  "type": "object",
                  "properties": {
                    "due_dates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        },
                        "start_date": {
                          "type": "boolean",
                          "description": "start_date"
                        },
                        "remap_due_dates": {
                          "type": "boolean",
                          "description": "remap_due_dates"
                        },
                        "remap_closed_due_date": {
                          "type": "boolean",
                          "description": "remap_closed_due_date"
                        }
                      },
                      "description": "due_dates"
                    },
                    "sprints": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "sprints"
                    },
                    "points": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "points"
                    },
                    "custom_items": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "custom_items"
                    },
                    "tags": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "tags"
                    },
                    "time_estimates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "time_estimates"
                    },
                    "checklists": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "checklists"
                    },
                    "zoom": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "zoom"
                    },
                    "milestones": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "milestones"
                    },
                    "custom_fields": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "custom_fields"
                    },
                    "remap_dependencies": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "remap_dependencies"
                    },
                    "dependency_warning": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "dependency_warning"
                    },
                    "multiple_assignees": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "multiple_assignees"
                    },
                    "portfolios": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "portfolios"
                    },
                    "emails": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "emails"
                    }
                  },
                  "description": "features"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                }
              }
            }
          }
        },
        "summary": "Create Space",
        "operationId": "Create_Space",
        "description": "Add a new Space to a Workspace.",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "color": {
                  "type": "string",
                  "description": "color"
                },
                "private": {
                  "type": "boolean",
                  "description": "private"
                },
                "avatar": {
                  "type": "string",
                  "description": "avatar"
                },
                "admin_can_manage": {
                  "type": "string",
                  "description": "admin_can_manage"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "multiple_assignees": {
                  "type": "boolean",
                  "description": "multiple_assignees"
                },
                "features": {
                  "type": "object",
                  "properties": {
                    "due_dates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        },
                        "start_date": {
                          "type": "boolean",
                          "description": "start_date"
                        },
                        "remap_due_dates": {
                          "type": "boolean",
                          "description": "remap_due_dates"
                        },
                        "remap_closed_due_date": {
                          "type": "boolean",
                          "description": "remap_closed_due_date"
                        }
                      },
                      "description": "due_dates"
                    },
                    "sprints": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "sprints"
                    },
                    "points": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "points"
                    },
                    "custom_items": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "custom_items"
                    },
                    "tags": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "tags"
                    },
                    "time_estimates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        },
                        "rollup": {
                          "type": "boolean",
                          "description": "rollup"
                        },
                        "per_assignee": {
                          "type": "boolean",
                          "description": "per_assignee"
                        }
                      },
                      "description": "time_estimates"
                    },
                    "checklists": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "checklists"
                    },
                    "zoom": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "zoom"
                    },
                    "milestones": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "milestones"
                    },
                    "custom_fields": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "custom_fields"
                    },
                    "remap_dependencies": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "remap_dependencies"
                    },
                    "dependency_warning": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "dependency_warning"
                    },
                    "multiple_assignees": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "multiple_assignees"
                    },
                    "portfolios": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "portfolios"
                    },
                    "emails": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "emails"
                    }
                  },
                  "description": "features"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                }
              }
            }
          }
        ]
      }
    },
    "/api/v2/space/{space_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "private": {
                  "type": "boolean",
                  "description": "private"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "multiple_assignees": {
                  "type": "boolean",
                  "description": "multiple_assignees"
                },
                "features": {
                  "type": "object",
                  "properties": {
                    "due_dates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        },
                        "start_date": {
                          "type": "boolean",
                          "description": "start_date"
                        },
                        "remap_due_dates": {
                          "type": "boolean",
                          "description": "remap_due_dates"
                        },
                        "remap_closed_due_date": {
                          "type": "boolean",
                          "description": "remap_closed_due_date"
                        }
                      },
                      "description": "due_dates"
                    },
                    "time_tracking": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "time_tracking"
                    },
                    "tags": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "tags"
                    },
                    "time_estimates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "time_estimates"
                    },
                    "checklists": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "checklists"
                    },
                    "custom_fields": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "custom_fields"
                    },
                    "remap_dependencies": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "remap_dependencies"
                    },
                    "dependency_warning": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "dependency_warning"
                    },
                    "portfolios": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
[...]
